* {
  box-sizing: border-box;
  max-height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

html {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-feature-settings: 'tnum';
  background-image: url("./noise.png"),
    url("./forest_background.jpg");
  background-attachment: scroll, fixed;
  background-position: top center;
  background-repeat: repeat, no-repeat;
  background-size: 200px, cover;
}

code {
  font-size: 0.9em;
  padding: 0 0.3em;
}

a {
  color: #fff;
}

.hover-555:hover {
  background: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}



#side-img {
  border-radius: 500px;
  margin: 1em;
}

/* test */

#root, #general {
  width: 100%;
  height: 100%;
  max-width: 100% !important;
  max-height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}

#sidebar {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #ffffff17;
}

#sidebar-inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 20vw;
  max-width: 250px;
  min-width: 200px;
  min-height: fit-content;
  /* new property */
  overflow: auto;
  background: transparent;
  background-color: #2e3031c2;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin: 1em;
}

#main-buttons {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  margin: 1em;
  max-width: 100%;
}

.horizontal-divider {
  border: 0.5px solid #c7c7c78a;
  width: 100%;
  margin-bottom: 1em;
}

#toggle-projection, #about-main, #label-id, #index-id {
  position: relative;
  display: block;
  display: flex;
  color: #dbdbdb;
  text-decoration: none;
  justify-content: space-between;
  transition: all 0.1s linear;
  text-align: center;
  margin-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #505355c2;
  border-radius: 8px;
}

.h-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.h-button-container button {
  flex: 1;
  box-sizing: border-box;
}


.v-button-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}

.v-button-container button {
  flex: 1;
  box-sizing: border-box;
}

#toggle-projection,
#about-main {
  display: inline-block;
  width: 49%;
  transition: background-color 0.05s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

#toggle-projection {
  margin-right: 2px;
}

#about-main {
  margin-left: 2px;
}

#toggle-projection:hover,
#about-main:hover {
  background-color: #acacac;

}

#label-id {
  display: flex;
  justify-content: space-between;
  transition: all 0.1s linear;
}




footer {
  background: transparent;
  padding: 1em;
  bottom: 0;
  position: absolute;
}

.footer-container {
  display: flex;
  align-items: left;
  max-width: 100%;
  margin: 0 auto;
  font-size: 12pt;
  color: #dbdbdb;
  flex-direction: column;
}

.footer-container p {
  margin: 0;
  padding: 0;
  color: #c2c2c2;
  font-size: 0.8em;
}

.footer-container button {
  color: rgb(201, 201, 201);
  font-weight: 600;
}

.footer-container button:hover {
  color: #a3a3a3;
}


/* mobile */

@media (max-width: 768px) {



  #sidebar-inner {
    top: 0;
    width: 100%;
    min-width: 400px;
    z-index: 1;
    margin: 0;
    background-color: transparent;
    column-gap: 10px;
    flex-direction: row;

  }

  #side-img {
    display: none;

  }

  .horizontal-divider {
    display: none;
  }

  #main-buttons {
    margin: 1em;
    flex-direction: row;
    column-gap: 6px;
  }

  .h-button-container {
    /* so that it fits the size of the text */
    width: fit-content;
    min-width: 166px;
  }

  .v-button-container {
    min-width: 150px;
  }

  #about-main {
    margin-left: 3px;
  }

  #toggle-projection {
    margin-right: 3px;
  }
}

/* MAIN DATA CANVAS ───────────────────────────────────────────────────────── */

#main {
  position: relative;
  background: transparent;
  overflow: hidden;
  z-index: 0;
  left: 0;
  max-width: 100% !important;
  max-height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  /* send to back:; */
  z-index: 0;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

/* about window */
.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(8, 8, 8, 0.774);
  color: #dbdbdb;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s ease-in-out;
  overflow-y: visible;
  overflow: visible;
  z-index: 999;
}

.popup-container.visible {
  visibility: visible;
  overflow: visible;
  opacity: 1;
}

.popup-content {
  background-color: #2e3031c2;
  border-radius: 10px;
  padding: 30px;
  font-size: 12pt;
  box-shadow: 0 0 60px rgb(0, 0, 0);
  max-width: 700px;
  max-height: 90% !important;
  overflow-y: scroll !important;
  text-align: left;
  position: relative;
}

.popup-content::-webkit-scrollbar {
  width: 5px;
}

.popup-content::-webkit-scrollbar-thumb {
  background: #555555d5;
  border-radius: 20px;
}

.popup-content::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.048);
}

.popup-content li, .popup-content p, .popup-content a, .popup-content h1, .popup-content h2, .popup-content h3, .popup-content h4, .popup-content h5, .popup-content h6 {
  color: #dbdbdb !important;
}

.close-button {
  position: absolute;
  color: #555;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  /* Remove underline */
  transition: filter 0.1s ease-in-out;
  /* Add transition */
}

.close-button:hover {
  filter: brightness(2);
  /* Make brighter on hover */
}


@media screen and (max-width: 768px) {
  .popup-content {
    width: 100vw;
    padding: 1em;
  }

  .close-button {
    font-size: 1.2rem;
    padding: .5em;
    top: 5px;
    right: 5px;
  }
}