* {
  box-sizing: border-box;
}

.sidebar {
  margin: 1em;
}

.side-img {
  border-radius: 400px;
  width: 100%;
}

#label {
  border-radius: 10px;
}

.toggle-projection {
  border-radius: 10px;
  position: relative;
  display: block;
  width: 200px;
  height: 25px;
  background-color: #368ea8bb;
  text-decoration: none;
  text-align: center;
  margin-bottom: 1em;
  margin-top: 1em;
  transition: background-color 0.05s ease-in-out;
}

.toggle-projection:hover {
  background-color: #368da8;

}

/* add rule for when media is mless than 800px: */


@media (min-width: 800px) {
  .toggle-projection {
    left: 50%;
    transform: translateX(-50%);
  }
}

/* @media (max-width: 800px) {
  .toggle-projection {
    left: auto;
    transform: translateX(0);
    display: block;
  }
} */


html {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-feature-settings: 'tnum';
  background-image: url("./noise.png"),
    url("./forest_background.jpg");
  background-attachment: scroll, fixed;
  background-position: top center;
  background-repeat: repeat, no-repeat;
  background-size: 200px, cover;
}

code {
  font-size: 0.9em;
  padding: 0 0.3em;
}

a {
  color: #fff;
}

.hover-555:hover {
  background: #555;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

img {
  max-width: 100%;
}

/**
 * Reset button styles.
 * It takes a bit of work to achieve a neutral look.
 */
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}